
html {
  background-color: hsl(185, 75%, 39%);
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 0;
  font-family: sans-serif;
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position: right 50vw bottom 45vh, left 50vw top 45vh;
  color: #6a6f81;

}

hr {
  border-top: 1px;
  width: 345px;
  margin-top: 0px;
  color: #6a6f81;
  opacity: 50%;
}

p {
  font-weight: normal;
  font-size: 12px;
  color: #6a6f81;
}

.tarjeta {
  background-color: #7c618c;
  position: absolute;
  width: 50%;
  padding: 50px 10px 10px 5px;
}

.center {
  background-color: white;
  margin: auto;
  margin-top: 15%;
  width: 345px;
  height: 365px;
  border: 3px;
  padding: 0px;
  border-radius: 5%;
  background-image: url(../images/bg-pattern-card.svg);
  background-repeat: no-repeat;
  box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center
}

.pattern {
  position: absolute;
}

.profilepicture {
  margin-top: -90px;
  display: block;
  border-radius: 50%;
  border: 5px solid white;
  position: absolute;
  text-align: center;
}

.stats {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: black;
}

.stats1 {
    padding: 10px;
    margin-right: 30%;
    font-weight: 700;
}

.stats2 {
  padding: 10px;
  font-weight: 700;
}

.stats3 {
  padding: 10px;
  margin-left: 30%;
  font-weight: 700;
}

.nombre {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  position: relative;
  margin-top: 65%;
  font-weight: 400;
  color: black;
  padding-right: 10px;
}

.locale {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  color: #6a6f81;
}

.attribution {
  text-align: center;
  font-weight: lighter;
position: absolute;
  bottom: 0px;
}

.age {
  color: #6a6f81;
  margin-left: 10px;
}
